main {
	display: flex;
	flex-direction: row;
	width:100%;
	height: 100%;
}

container {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding: 10px;
}
.item {
	display: flex;
    justify-content: center;
}

.js-form {
	flex: 1.5;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    
}
#formClock {
	margin-top: 20px;
}
#imgSlide {
	width: 40vw;
	height: 50vh;
	border: solid 1px red;
	margin: 20px 0;
}
.divClock {
	display: none;
	text-align:center;
	padding:1em 0;
}

#listTodo {
	margin: 20px 0;
	width: 40vw;
	height: 70vh;
	border: solid 1px red;
}

.showing {
	display: flex;
	flex: 1;
}

.notShowing {
	display: none;
}

ul {
	list-style-type: none;
}